

/*bell*/

.icon-button {
  position: relative;
  width: 30px;
  height: 30px;
  /*color: #333333;*/
  background-color: transparent;
  border: none;
  outline: none;
  /*border-radius: 50%;*/
}

.icon-button:hover {
  cursor: pointer;
}

/*.icon-button:active {
  background: #cccccc;
}*/

.icon-button__badge {
  position: absolute;
  top: -9px;
  right: -10px;
  width: 20px;
  height: 20px;
  background: red;
  color: #ffffff;
  /*justify-content: center;*/
  align-items: center;
  font-weight: 700;
  border-radius: 50%;
}
.iconeFontSize{
  font-size: 13px;
}
.dropbtn {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  width: 400px;
  overflow-y: auto;
  height: 400px;
  background: white !important;
  margin: 0px !important;
  color: black;
  padding: 1px !important;
  border: 0.1px solid #c8c8ce !important;
  border-radius: 4px !important;

  border-right: transparent;
  border-left: transparent;
}
@media (max-width: 900px) {
     .dropdown-content {
        position: absolute ;
        float: left;
        /*background-color: whitesmoke;*/
        /*border: solid;*/
        /*border-color: green;*/
        width: 100%;
        overflow-y: auto;
        height: 240px;
}
      
    }

.show {display: block;}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
